:root {
    --generalFontColor: #8BD9C7;
    --backgroundColorOne: #373737;
    --backgroundColorTwo: #59515E;
    --hoverEffectShadow: inset 0 0 5px rgba(255, 255, 255, 0.075), 0 0 50px rgba(255, 255, 255, 0.6);
    --languageCardBackground: linear-gradient(45deg, rgba(0,217,255,1) 21%, rgba(28,28,28,1) 87%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: white;
    font-family: Arial, sans-serif;
}


/* Header section */

header {
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color:#3D4849 ;
    color: var(--generalFontColor);
}

header div {
    margin-right: 20px;
    float: right;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header div ul a {
    text-decoration: none;
    color: var(--generalFontColor);
    font-weight: bold;
}

header div ul a:hover {
    color: #0076BE
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--generalFontColor)
}

@media screen and (min-width: 1400px) {
    header div {
        font-size: 20px;  
    }
    .aboutMeContChild button{ 
        width:150px;  
        margin-right: 100%;
    }
}

@media screen and (max-width: 1399px) {
    header div {
        font-size: 20px;  
    }
    .aboutMeContChild button{ 
        width:150px;  
        margin-right: 100%;
    }
}

@media screen and (max-width: 960px) {
.aboutMeContChild button{ 
    width:200px;  
    margin-right: 0%;
}
}

@media screen and (max-width: 799px) {
    header div {
        font-size: 9px;  
    }
}




/* Main body: About Me */
.aboutMe {
    background-color: var(--backgroundColorOne);
    text-align: center;
    padding: 25px 0;
}

.aboutMeContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
    height:auto;
}

.aboutMeContChild{  
    flex:1; 
    padding: 20px;
    width: 350px;
    align-content: center;
    margin:20px;
    text-align: center;
    border:white 2px solid;
}

.aboutMeContChild img{   
    width:250px;
    border-radius: 100%;
}

.aboutMeContChild h2{   
    text-align: center;
}

.aboutMeContChild button{   
    background-color: transparent;
    border:transparent
}

.aboutMeContChild button a, .aboutMeContChild button a img{   
    width: inherit;
}



/* Main body: Present Projects */

.presentProjects {
    background-color: var(--backgroundColorTwo);
    text-align: center;
    padding: 25px 0;
}

.presentProjectsContainer {
    display: flex;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
}

.presentProjectsChild h1, h2, h4 {
  text-align: left;
}

.presentProjectsChild {
    flex:1;
    padding: 20px;
    margin-bottom: 20px;
    height: 350px;
    align-content: center;
    margin:50px
}

.presentProjectsChild:hover {
    box-shadow: var(--hoverEffectShadow)
}

.presentProjectsChild img{
    width: 50px;
    margin: 0 20px 0 0
}

/* Mainbody: PresentProjects-FirstChild */
.presentProjectsChild:nth-child(1) {
   background-color: #08145c ;
}

.nexButton{
    background-color: #dc731b;
    width: 150px;
    height:50px;
    border-radius: 50px;
    font-size: 18px;
    margin: 30px 0 5px 0;
}

.nexButton:hover{
    background-color:orangered;
    cursor: pointer;
}


/* Mainbody: PresentProjects-SecondChild */
.presentProjectsChild:nth-child(2) {
    background-color:seagreen ;
 }




 /* Mainbody: Coding Languages */
 .codingLanguages {
    background-color: var(--backgroundColorOne);
    text-align: center;
    padding: 25px 0;
}

.codingLanguagesContainer {
    display: flex;
    margin: 40px auto 0 auto;
    flex-wrap: wrap;
    perspective: 1000px; /* CARD FORMAT */
}

.codeLangContChild{
    flex:1;
    position:relative; /*CARD FORMAT */
    padding: 20px;
    margin-bottom: 20px;
    height: 300px;
    align-content: center;
    margin:50px;
    background: var(--languageCardBackground);
    transition: transform 0.8s; /* CARD FORMAT */
    transform-style: preserve-3d; /* CARD FORMAT */
    position: relative; /* CARD FORMAT */
}

.codeLangContChild:active { /* CARD FORMAT */
    transform: rotateY(180deg);
}

.codeLangContChild:hover{
    box-shadow: var(--hoverEffectShadow)
}

.flip-card-front, .flip-card-back { /* CARD FORMAT */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

.codeLangContChild img {
    width: 180px
}

.flip-card-back { /*CARD FORMAT */
    position:absolute; 
    background: var(--languageCardBackground);
    transform: rotateY(180deg);
    top:0px;
    right:0px;
}

